@import "tailwindcss";

.key{
    @apply absolute bg-black;
    width: 1px;
    height: 1px;
}
.key-around{
    @apply absolute w-10 h-10 border-3 border-gray-500 z-[-1];
    translate: calc(var(--spacing)*-5) calc(var(--spacing)*-5);
}
.key.active .key-around{
    @apply border-blue-500;
}
